@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

abbr[epub|type~="se:era"]{
	font-variant: all-small-caps;
}

header{
	font-variant: small-caps;
	margin: 1em;
	text-align: center;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:letter"] header{
	margin-right: 0;
}

[epub|type~="se:letter.dateline"]{
	text-align: right;
}

[epub|type~="se:letter.dateline"] time{
	font-variant: normal;
}

[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}
